# Entorno virtual
venv/
stations.db

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
# Archivos de editor
.vscode/
.idea/
*.swp

# Archivos del sistema
.DS_Store
Thumbs.db

# archivo de reload con pm2
ecosystem.config.js